.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 100px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #ffffff;
}

.slider-thumb-green::-webkit-slider-thumb {
  background: #3dd944;
}
.slider-thumb-red::-webkit-slider-thumb {
  background: #fa3737;
}
.slider-thumb-blue::-webkit-slider-thumb {
  background: #3880e8;
}
.slider-thumb-yellow::-webkit-slider-thumb {
  background: #f8df07;
}
.slider-thumb-orange::-webkit-slider-thumb {
  background: #f8a807;
}


.slider-progress {
  -webkit-appearance: none;
  background: rgba(255, 255, 255, 0);
  outline: none;
  opacity: 1;
}

.slider-progress::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #fff;
}
.slider-thumb-red-dark::-webkit-slider-thumb {
  background: #7d1b1b;
}
.slider-thumb-orange-dark::-webkit-slider-thumb {
  background: #a06f14;
}

.progress-bar {
  -webkit-transition: initial !important;
  -o-transition: initial !important;
  transition: initial !important;
}

.progress-bar.active, .progress.active .progress-bar {
  -webkit-animation: initial !important;
  -o-animation: initial !important;
  animation: initial !important;
}


.hidden {
  display: none;
}