.no-underline:hover {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  border: 10px solid #666;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #bbb;
}

.table thead > tr.custom_tr_head.custom_tr_head > th {
  border-bottom: 1px solid rgb(135,135,135);
  border-top: initial;
}

.table tbody > tr.custom_tr_body.custom_tr_body > td {
  border-bottom: 1px solid rgb(92,92,92);
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: rgb(40,40,40);
  color: white;
}

.white-hover:hover {
  color: white;
}

.white-hover:hover {
  color: white !important;
}

.disabled-progress {
  background-color: #8a969e !important;
  cursor: default;
}
.disabled-link {
  color: #6c757d !important;
  cursor: default;
}
.disabled-link:hover {
  color: #6c757d !important;
  text-decoration: none;
}
